[submodule "data/support/ace"]
	path = data/support/ace
	url = https://Gozala@github.com/Gozala/ace.git
[submodule "data/support/pilot"]
	path = data/support/pilot
	url = https://Gozala@github.com/Gozala/pilot.git
[submodule "data/support/cockpit"]
	path = data/support/cockpit
	url = https://Gozala@github.com/Gozala/cockpit.git
[submodule "data/support/vice"]
	path = data/support/vice
	url = https://Gozala@github.com/Gozala/vice.git
[submodule "data/support/micro-promise"]
	path = data/support/micro-promise
	url = https://github.com/Gozala/micro-promise.git
[submodule "data/support/gcli"]
	path = data/support/gcli
	url = https://github.com/Gozala/gcli.git
[submodule "data/support/gcli-plug"]
	path = data/support/gcli-plug
	url = https://github.com/Gozala/gcli-plug.git
