.ace-ambiance {
  background-color: #202020;
}

.ace-ambiance .ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace-ambiance .ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace-ambiance .ace_gutter {
  background: #3D3D3D;
  color: #E6E1DC;
  text-shadow: #333 1px 1px;
  border-right: 1px solid #4D4D4D;
  overflow : hidden;
}

.ace-ambiance .ace_gutter-layer {
  width: 100%;
  text-align: right;
}

.ace-ambiance .ace_gutter-layer .ace_gutter-cell {
  min-width: 23px;
}

.ace-ambiance .ace_print_margin {
  border-left: 1px dotted #2D2D2D;
  width: 100%;
  background: #262626;
}

.ace-ambiance .ace_scroller {
  background-color: #202020;
  -webkit-box-shadow: inset 0 0 10px black;
  -moz-box-shadow: inset 0 0 10px black;
  -o-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
}

.ace-ambiance .ace_text-layer {
  cursor: text;
  color: #E6E1DC;
}

.ace-ambiance .ace_cursor {
  border-left: 2px solid #A7A7A7;
}

.ace-ambiance .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #A7A7A7;
}
.ace-ambiance.normal-mode .ace_cursor.ace_overwrite {
  border: 1px solid #FFE300;
  background: #766B13;
}
.ace-ambiance.normal-mode .ace_cursor-layer {
  z-index: 0;
}
 
.ace-ambiance .ace_marker-layer .ace_selection {
  background: rgba(221, 240, 255, 0.20);
}

.ace-ambiance .ace_marker-layer .ace_selected_word {
  border-radius: 4px;
  border: 8px solid #3f475d;
  box-shadow: 0 0 4px black;
}

.ace-ambiance .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}

.ace-ambiance .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.ace-ambiance .ace_marker-layer .ace_active_line {
  background: rgba(255, 255, 255, 0.031);
}



.ace-ambiance .ace_invisible {
  color: #333;
}

.ace-ambiance .ace_paren {
  color: #24C2C7;
}

.ace-ambiance .ace_keyword {
  color: #cda869;
}

.ace-ambiance .ace_keyword.ace_operator {
  color: #fa8d6a;
}

.ace-ambiance .ace_punctuation.ace_operator {
  color: #fa8d6a;
}

.ace-ambiance .ace_identifier {
}

.ace-ambiance .ace-statement {
  color: #cda869;
}

.ace-ambiance .ace_constant {
  color: #CF7EA9;
}

.ace-ambiance .ace_constant.ace_language {
  color: #CF7EA9;
}

.ace-ambiance .ace_constant.ace_library {
  
}

.ace-ambiance .ace_constant.ace_numeric {
  color: #78CF8A;
}

.ace-ambiance .ace_invalid {
  text-decoration: underline;
}

.ace-ambiance .ace_invalid.ace_illegal {
  color:#F8F8F8;
  background-color: rgba(86, 45, 86, 0.75);
}

.ace-ambiance .ace_invalid,
.ace-ambiance .ace_deprecated {
  text-decoration: underline;
  font-style: italic;
  color: #D2A8A1;
}

.ace-ambiance .ace_support {
  color: #9B859D;
}

.ace-ambiance .ace_support.ace_function {
  color: #DAD085;
}

.ace-ambiance .ace_function.ace_buildin {
  color: #9b859d;
}

.ace-ambiance .ace_string {
  color: #8f9d6a;
}

.ace-ambiance .ace_string.ace_regexp {
  color: #DAD085;
}

.ace-ambiance .ace_comment {
  font-style: italic;
  color: #555;
}

.ace-ambiance .ace_comment.ace_doc {
}

.ace-ambiance .ace_comment.ace_doc.ace_tag {
  color: #666;
  font-style: normal;
}

.ace-ambiance .ace_definition {
  color: #aac6e3;
}

.ace-ambiance .ace_variable {
  color: #9999cc;
}

.ace-ambiance .ace_variable.ace_language {
  color: #9b859d;
}

.ace-ambiance .ace_xml_pe {
  color: #494949;
}

.gcli-display-hint,
.gcli-display-output {
  position: fixed;
  bottom: 0px;
}

#gcli-display {
  height: 0;
}

#gcli-input,
#gcli-display .gcli-display-hint,
#gcli-display .gcli-display-output,
#gcli-display .gcli-row-in,
#gcli-display .gcli-row-out,
#gcli-display .gcli-row-in-typed,
#gcli-display .gcli-display-hint {
  background: #3D3D3D;
  color: #E6E1DC;
  text-shadow: #333 0px 1px;
  border-color: #4D4D4D !important;
}

#gcli-display .gcli-row-in,
#gcli-display .gcli-row-out {
  border: none;
  border-radius: 4px;
  padding: 1px;
  margin: 2px 4px;
  background: rgba(0, 0, 0, 0.1) !important;
}

.gcli-row-out p {
  margin: 2px;
}

.gcli-menu {
  border: none !important;
}

.gcli-menu-option,
.gcli-menu-name,
.gcli-menu-desc {
  font-family: monaco consolas, courier, monospace;
  font-size: 12px !important;
}

.gcli-menu-option:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.gcli-field {
  background: rgba(255, 255, 255, 0.1) !important;
  font-size: 14px;
  border-radius: 5px;
  padding: 0 5px;
  border: 1px solid #3D3D3D;
  outline: none;
  color: #E6E1DC;
}

.gcli-prompt {
  color: #fff !important;
}

#gcli-input {
  color: #E6E1DC !important;
  background: #3D3D3D !important;
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 18px;
  bottom: 0;
  border: none;
  border-top: 1px solid;
  outline: none;
  margin: 0;
  font-family: monaco consolas, courier, monospace;
  font-size: 14px;

  opacity: 0.9;
  box-shadow: 0 0 10px black;
}

.gcli-display-output {
  opacity: 0.9;
  z-index: 1;
  border: 1px solid #4D4D4D !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
  font-size: 13px;

  box-shadow: 0 0 10px black;
  max-height: 50% !important;
  width: 90%;
  margin-left: 20px !important;
}

#gcli-input {
  opacity: 0.3;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

#gcli-input:focus {
  opacity: 0.9;
}

.gcli-display-hint {
  opacity: 0.9;
  width: auto;
  max-height: 200px;
  border: 1px solid #4D4D4D !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 10px black;
  z-index: 2 !important;
  padding-bottom: 32px !important;
  margin-left: 40px;
}
