.ace-twilight {
  background-color: #202020;
}

.ace-twilight .ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace-twilight .ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace-twilight .ace_gutter {
  width: 50px;
  background: #3D3D3D;
  color: #E6E1DC;
  text-shadow: #333 1px 1px;
  border-right: 1px solid #4D4D4D;
  overflow : hidden;
}

.ace-twilight .ace_gutter-layer {
  width: 100%;
  text-align: right;
}

.ace-twilight .ace_gutter-layer .ace_gutter-cell {
  padding-right: 6px;
}

.ace-twilight .ace_print_margin {
  border-left: 1px dotted #2D2D2D;
  width: 100%;
  background: #262626;
}

.ace-twilight .ace_scroller {
  background-color: #202020;
  -webkit-box-shadow: inset 0 0 10px black;
  -moz-box-shadow: inset 0 0 10px black;
  -o-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
}

.ace-twilight .ace_text-layer {
  cursor: text;
  color: #E6E1DC;
}

.ace-twilight .ace_cursor {
  border-left: 2px solid #A7A7A7;
}

.ace-twilight .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #A7A7A7;
}
.ace-twilight.normal-mode .ace_cursor.ace_overwrite {
  border: 1px solid #FFE300;
  background: #766B13;
}
.ace-twilight.normal-mode .ace_cursor-layer {
  z-index: 0;
}
 
.ace-twilight .ace_marker-layer .ace_selection {
  background: rgba(221, 240, 255, 0.20);
}

.ace-twilight .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}

.ace-twilight .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.ace-twilight .ace_marker-layer .ace_active_line {
  background: rgba(255, 255, 255, 0.031);
}

       
.ace-twilight .ace_invisible {
  color: rgba(255, 255, 255, 0.25);
}

.ace-twilight .ace_keyword {
  color:#CDA869;
}

.ace-twilight .ace_keyword.ace_operator {
  
}

.ace-twilight .ace_constant {
  color:#CF6A4C;
}

.ace-twilight .ace_constant.ace_language {
  
}

.ace-twilight .ace_constant.ace_library {
  
}

.ace-twilight .ace_constant.ace_numeric {
  
}

.ace-twilight .ace_invalid {
  
}

.ace-twilight .ace_invalid.ace_illegal {
  color:#F8F8F8;
background-color:rgba(86, 45, 86, 0.75);
}

.ace-twilight .ace_invalid.ace_deprecated {
  text-decoration:underline;
font-style:italic;
color:#D2A8A1;
}

.ace-twilight .ace_support {
  color:#9B859D;
}

.ace-twilight .ace_support.ace_function {
  color:#DAD085;
}

.ace-twilight .ace_function.ace_buildin {
  
}

.ace-twilight .ace_string {
  color:#8F9D6A;
}

.ace-twilight .ace_string.ace_regexp {
  color:#E9C062;
}

.ace-twilight .ace_comment {
  font-style:italic;
  color:#5F5A60;
}

.ace-twilight .ace_comment.ace_doc {
  
}

.ace-twilight .ace_comment.ace_doc.ace_tag {
  
}

.ace-twilight .ace_variable {
  color:#7587A6;
}

.ace-twilight .ace_variable.ace_language {
  
}

.ace-twilight .ace_xml_pe {
  color:#494949;
}




#cockpitInput, #cockpitOutput, .cptOutput, .cptHints,
.cptCompletion span {
  background: #3D3D3D !important;
  color: #E6E1DC !important;
  text-shadow: #333 1px 1px;
  border-color: #4D4D4D !important;
}

.cptRowIn, .cptRowOut {
  border-radius: 4px;
  padding: 1px;
  margin: 2px;
  background: rgba(0, 0, 0, 0.1) !important;
}

.cptRowIn *, .cptRowIn, .cptRowOut {
  color: #ccc !important;
}

.cptRowOut p {
  margin: 2px;
}

#cockpitInput {
  z-index: 3;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 3px;
  border: none;
  border-top: 1px solid;
  outline: none;
  font-family: monaco consolas, courier, monospace;
  font-size: 14px;

  box-shadow: 0 0 10px black;
}

#cockpitOutput {
  opacity: 0.9;
  z-index: 1;
  padding: 10px;
  margin: 0 15px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid;
  border-bottom: none;

  box-shadow: 0 0 10px black;
}

.cptHints {
  opacity: 0.9;
  z-index: 2 !important;
  border: 1px solid #4D4D4D !important;
  box-shadow: 0 0 10px black;
}
