.ace-twilight {
  background-color: #202020;
}

.ace-twilight .ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace-twilight .ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace-twilight .ace_gutter {
  width: 50px;
  background: #3D3D3D;
  color: #E6E1DC;
  text-shadow: #333 1px 1px;
  border-right: 1px solid #4D4D4D;
  overflow : hidden;
}

.ace-twilight .ace_gutter-layer {
  width: 100%;
  text-align: right;
}

.ace-twilight .ace_gutter-layer .ace_gutter-cell {
  padding-right: 6px;
}

.ace-twilight .ace_print_margin {
  border-left: 1px dotted #2D2D2D;
  width: 100%;
  background: #262626;
}

.ace-twilight .ace_scroller {
  background-color: #202020;
  -webkit-box-shadow: inset 0 0 10px black;
  -moz-box-shadow: inset 0 0 10px black;
  -o-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
}

.ace-twilight .ace_text-layer {
  cursor: text;
  color: #E6E1DC;
}

.ace-twilight .ace_cursor {
  border-left: 2px solid #A7A7A7;
}

.ace-twilight .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #A7A7A7;
}
.ace-twilight.normal-mode .ace_cursor.ace_overwrite {
  border: 1px solid #FFE300;
  background: #766B13;
}
.ace-twilight.normal-mode .ace_cursor-layer {
  z-index: 0;
}
 
.ace-twilight .ace_marker-layer .ace_selection {
  background: rgba(221, 240, 255, 0.20);
}

.ace-twilight .ace_marker-layer .ace_selected_word {
  border-radius: 4px;
  border: 8px solid #3f475d;
  box-shadow: 0 0 4px black;
}

.ace-twilight .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}

.ace-twilight .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.ace-twilight .ace_marker-layer .ace_active_line {
  background: rgba(255, 255, 255, 0.031);
}



.ace-twilight .ace_invisible {
  color: #333;
}

.ace-twilight .ace_paren {
  color: #24C2C7;
}

.ace-twilight .ace_keyword {
  color: #aac6e3;
}

.ace-twilight .ace_keyword.ace_operator {
  color: #fa8d6a;
}

.ace-twilight .ace_identifier {
}

.ace-twilight .ace-statement {
  color: #cda869;
}

.ace-twilight .ace_constant {
  color: #CF7EA9;
}

.ace-twilight .ace_constant.ace_language {
  color: #9b859d;
}

.ace-twilight .ace_constant.ace_library {
  
}

.ace-twilight .ace_constant.ace_numeric {
  color: #78CF8A;
}

.ace-twilight .ace_invalid {
  
}

.ace-twilight .ace_invalid.ace_illegal {
  color:#F8F8F8;
  background-color: rgba(86, 45, 86, 0.75);
}

.ace-twilight .ace_invalid.ace_deprecated {
  text-decoration: underline;
  font-style: italic;
  color: #D2A8A1;
}

.ace-twilight .ace_support {
  color: #9B859D;
}

.ace-twilight .ace_support.ace_function {
  color: #DAD085;
}

.ace-twilight .ace_function.ace_buildin {
  color: #9b859d;
}

.ace-twilight .ace_string {
  color: #8f9d6a;
}

.ace-twilight .ace_string.ace_regexp {
  color: #FC91AD;
}

.ace-twilight .ace_comment {
  font-style: italic;
  color: #555;
}

.ace-twilight .ace_comment.ace_doc {
}

.ace-twilight .ace_comment.ace_doc.ace_tag {
  color: #666;
  font-style: normal;
}

.ace-twilight .ace_definition {
  color: #7587a6;
}

.ace-twilight .ace_variable {
  color: #7587A6;
}

.ace-twilight .ace_variable.ace_language {
  color: #7587A6;
}

.ace-twilight .ace_xml_pe {
  color: #494949;
}



#cockpitInput, #cockpitOutput, .cptOutput, .cptHints,
.cptCompletion span,

#gcliInput, #gcliOutput,
.gcliOutput, .gcliHints,
.gcliompletion span {
  background: #3D3D3D !important;
  color: #E6E1DC !important;
  text-shadow: #333 1px 1px;
  border-color: #4D4D4D !important;
}

.cptRowIn, .cptRowOut,

.gcliRowIn, .gcliRowOut {
  border-radius: 4px;
  padding: 1px;
  margin: 2px;
  background: rgba(0, 0, 0, 0.1) !important;
}

.cptRowIn *, .cptRowIn, .cptRowOut,

.gcliRowIn *, .gcliRowIn, .gcliRowOut {
  color: #ccc !important;
}

.cptRowOut p,

.gcliRowOut p {
  margin: 2px;
}

#cockpitInput,

#gcliInput {
  visibility: visible !important;
  z-index: 3;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 3px;
  border: none;
  border-top: 1px solid;
  outline: none;
  font-family: monaco consolas, courier, monospace;
  font-size: 14px;

  box-shadow: 0 0 10px black;
}

#cockpitOutput,

#gcliOutput {
  opacity: 0.9;
  z-index: 1;
  padding: 10px;
  margin: 0 15px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid;
  border-bottom: none;

  box-shadow: 0 0 10px black;
}

.cptHints,

.gcliHints {
  opacity: 0.9;
  z-index: 2 !important;
  border: 1px solid #4D4D4D !important;
  box-shadow: 0 0 10px black;
}
